@import '../../../../style/color.scss';
@import '../../../../style/layout.scss';

.myLink {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    align-items: center;
    color: $dark-background-color;
    // background-color: ;

    .navText {
        margin-left: 8px;
    }

    .navIcon {
        fill: $dark-background-color;
    }

    &:hover {
        transition: color, fill .2s ease-in-out;
        color: $bold-text-color;

        .navIcon {
            fill: $bold-text-color;
        }
    }
}

.myLink.active {
    color: $ui-color;

    .navIcon {
        fill: $ui-color;
    }
}