@import '../../../../style/color.scss';
@import '../../../../style/layout.scss';

.container {
    outline: none;
    border: 1px solid $ui-color;
    background-color: transparent;
    border-radius: .5rem;
    padding: .4rem;
    cursor: pointer;
    color: $ui-color;
    transition-property: font-color, border-color;
    transition: .4s ease-in-out;
    width: 100px;


}

.container:hover {
    border-color: $bold-text-color;
    color: $bold-text-color;
}