@import '../../style/color.scss';

.container {
    width: 100%;

    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 16px;
        row-gap: 1rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 1.1rem;
        }

        .iconClose {
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: fill .5s ease;

            &[color='buy'] {
                fill: $background-color;
            }

            &[color='sell'] {
                fill: $alarm-color;
            }

            &:hover {
                fill: $regular-text-color;
            }
        }
    }

    .info {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 1.5rem;
        padding: .75rem;

        span[color='sell'] {
            color: $alarm-color;
        }

        span[color='buy'] {
            color: $background-color;
        }
    }

    .customInput {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
        font-size: 1.2rem;
    }

    .buttons {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }
}